*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: black;
    text-decoration: none;
    
}

/* Fuentes importadas */


/* .gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}


.badeen-display-regular {
    font-family: "Badeen Display", system-ui;
    font-weight: 400;
    font-style: normal;
} 
    
.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


*/


header{
    display: flex;
    justify-content: center;
    
}

.barraNavegacion{
    margin-top: 10px;
    display: flex;
    width: 95%;
    height: 60px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 30px;
    position: fixed;
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    background-color: rgba(255, 255, 255, 0.486);/** Color translúcido*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */

    z-index: 10000;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImagen{
    height: 50px;
    width: auto;
    object-fit: cover;
}

.busqueda{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menuJS{
    font-size: 40px;
}

.lupita{
    display: none;
}

.input{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    padding-left: 13px;
}


.menuPadre{
    width: 650px;
    /* background-color: rgb(158, 107, 107); */
    display: flex;
    justify-content: end;
}

.menuContenedor{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    justify-content: end;
}

.menuItem{
    /* background-color: antiquewhite; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icono{
    display: none;
}





.loginAndShop{
    /* background-color: red; */

    height: 100%;
    width: 150px;
    margin-right: 2% ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.usuario , .carrito{
    /* background-color: white; */
    font-size: 30px;
    margin: 10px;
}

.usuario:hover , .carrito:hover{
    cursor: pointer;
}

.menuJS{
    display: none;
}


.xJS{
    display: none;
    font-size: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
}






/* Parte del main */



.slider{
    /* border: 1px solid red; */
    display: none;

    flex-direction: row;

    height: 700px;
    width: 100%;
    padding-top: 100px;
    
    background-color: rgba(255, 255, 255, 0.61);

}



/* Parte que se conecta con el js. Creacion de clase para usar con js  */

.activa{
    display: flex;

}



.contenedorSlider{
    border: 1px solid black;

    width: 100%;
    height: 100%;
    
    position: relative;
    
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

/* IMAGEN DE FONDO DEL SLIDER */

.addidas{
    background-image: url(./assets/adidas/wallpaper.jpg);
    background-size: conver ;
    background-repeat: no-repeat;
    background-position: center;
}

.nike{
    background-image: url(./assets/nike/wallpapernikeVerdadera.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}

.reebook{
    background-image: url(./assets/reebook/posibleImagen3.jpg);
    background-size: contain ;
    background-repeat: repeat;
    background-position: center;
}

.puma{
    background-image: url(./assets/ouma/fondoProbar.png);
    background-size: contain ;
    background-repeat: repeat;
    background-position: center;
}

/* Tratamiento de la imagen*/
.imagenGrande{
    /* border: 1px solid blue; */
    

    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content:center;
    align-items: center;
}
.imagenGrande a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: default;
    
}





/* ARREGLAR LA IMAGEN. ESTA MUY GRANDE: HAY QUE RETOCARLA CON PS */
.imagenGrande a img.zapatillasGrandes{
    height: 500px ;
    width: auto;
    object-fit: cover;
    
}




/* Cuadro Chico Arriba  */
.cuadroArribaChico{
    /* border: 1px solid red; */

    width: 90px;
    height: 90px;
    position: absolute;
    top:100px;
    left: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.048);
}

.cuadroArribaChico a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
}

.cuadroArribaChico a img.zapatillasArribaChica{
    height: 100%;
    width: auto;
    object-fit: contain;
    transform: scale(130%);
}



.cuadroArribaChico a img#contorno{
    border-radius: 10px; 
    
}



/* Cuadro abajo */
.cuadroAbajoChico{
    border: 1px solid beige;
    width: 200px;
    height: 70px;
    position: absolute;
    top: 300px;
    left: 700px; 
    border-radius: 30px;
    background-color: rgba(139, 139, 139, 0.048);
    backdrop-filter: blur(7px)
}

.cuadroAbajoChico a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cuadroChicoTexto{
    backdrop-filter: blur(7px);  
    font-family: "Badeen Display", system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-shadow: 0 0 7px white;
}




/* Titulo de las zapatillas. H1 */
.textoGrande{
    /* border: 1px solid blueviolet; */

    width: 400px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 50px
}

.h1Zapatillas{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500; /*Del 400 al 900*/
    font-style: normal;
    font-size: 50px;
    text-shadow: 0 0 7px white;
}










/* Texto p para descripcion de las zapatillas.  */


.textoChico{
    border: 1px solid black;

    height: 100px;
    width: 500px;
    position: absolute;
    top: 90%;
    transform: translateY(-90%);
    left: 50px;
    background-color: rgba(139, 139, 139, 0.048);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 25px;
}

.textoChico p {
    color:white;
    
}


/* Boton de comprar la zapatilla */

.botonComprar{
    /* border: 1px solid green; */

    height: 70px;
    width: 150px;
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    left: 750px ;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.botonComprar div {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    background: linear-gradient(18deg, rgba(244,131,238,.5) 0%, rgba(111,115,255,.5) 100%);
} 

.botonComprar div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonComprar div a p{
    margin-right:5px ;
}
.botonComprar div a i{
    /* border: 1px solid rgb(0, 0, 0); */

    border-radius: 50%;
}



/* Rectangulo de los creditos */
.rectanguloInfo{
    border: 1px solid rgb(0, 0, 0);

    height: 90%;
    width: 250px;
    position: absolute;
    left: 99%;
    top: 50%;
    transform: translate(-99%,-50%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(139, 139, 139, 0.048);
    backdrop-filter: blur(7px)
}


/* Perfil */
.creditos{
    /* border: 1px solid white; */

    width: 90%;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: relative;
}

.fotoPerfil{
    /* border: 1px solid black; */

    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.perfil{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    
}



/* Texto Creditos */
.textoRectangulo{
    /* border: 1px solid rgb(255, 255, 255); */

    height: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

/* Caja Nombre */
.textoRectanguloH1{
    /* border: 1px solid red; */

    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Nombre */
.textoH1{
    width: auto;
    text-align: center;
}


/* Caja Descripcion/ocupacion */
.textorectanguloP{
    /* border: 1px solid blue; */

    height: 40%;
    width: 100%;
}

/* Ocupacion */

.DescripcionPerfil{
    font-size: 15px;
    text-align: center;
    padding-top: 10px; ;
}


/* Foto de la zapatilla sin retoque */

/* caja contenedora */

.imagenRectangulo{
    /* border: 1px solid green; */

    height: 150px;
    width: 90%;
    margin: 0 auto;

}

.fotoOriginal{
    height: 125px ;
    width: auto;
    object-fit: cover;
}



/* Flechas de contro del slider.  */


main{
    position: relative;

}

main .contenedorFlechas{
    /* background-color: rgba(225, 211, 238, 0.733); */
    
    height: 650px;
    width: 100%;
    position: absolute;
    margin-top: 100px;
    z-index: 100000;
    display: flex;
    justify-content: space-between ;

}

main .flecha{
    /* background-color: red; */

    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}



main .flecha i {
    background-color: rgba(10, 10, 10, 0.151);

    font-size: 70px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.247);
    
}

main .flecha i:hover {
    background-color: rgba(255, 251, 251, 0.274);
    
    
}

/* Slider de Novedades y ofertas */

/*
    Tema relacionado con el z-index

    Usado en:

    .contenedorNovedades valor: 1

    .volverNovedades valor : 10

    .nombreZapatillasNovedades: 10
*/

.NovedadesOfertas{
    margin-top: 100px;
    margin-bottom: 100px;
}


.contenedorNovedades{
    border: 1px solid black;

    width: 100%;
    height: 500px;
    display: flex;
    margin-bottom: 500px ;
    position: relative;
    z-index:1
}

.contenedorNovedades .sliderNovedades{
    /* border: 1px solid red; */

    width: 0%;
    flex-grow: 1;
    object-fit: cover;
    transition: width 0.5s ease;

    /* Solucion para la transicion */

    min-width: 1px;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    position: relative;

}


/* Tratamiento para imagenes de fondo normal, hover y transformacion  */

/* Normal  */

/* Tratamiento de las imagenes de las modelos */

.modeloSlider{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1
}

.logoMarca{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%; 
    z-index: 2;
    transition-property: background-color, bottom;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    
}

.logoMarca>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
}


/* hover */


/* .sliderNovedades:hover .logoMarca{
    background-color: rgba(250, 250, 250, 0.582);
    bottom: 0;
} */

/* Parte de la caja adentro.  */



/*La imagen dentro de ella. */


/* 
.adidasNovedades:hover{
    background-image: url(./assets/adidas/SliderLogoAdidasSinFondo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: rgba(0, 0, 0, 0.055);
}

.nikeNovedades:hover{
    background-image: url(./assets/nike/SliderLogoNikeSinFondo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.pumaNovedades:hover{
    background-image: url(./assets/ouma/SliderLogoPumaSinFondo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.rebookNovedades:hover{
    background-image: url(./assets/reebook/SliderLogoReebokSinFondo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
} */

/* Contenedor Padre del slider de las oferta */

.contedorPadreInSide{
    background-image: url(./assets/adidas/ModeloAdidasSliderInSide.png);
    background-clip: border-box;
    background-size:contain;
    width: 100%;
    height: 100%;
}

/* Caja contenedora del slider */
.contenedorInSide{
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    background-color: rgba(70, 70, 70, 0.37);
    width: 100%;
    height: 100%;
    position: relative;
}


/* Caja del centro de la mitad */
.cajaCentro{
    background-color: rgb(98, 182, 171);

    height: 100%;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caja donde esta ubicada la zapatilla */

.cajaNombreZapatilla{
    /* background-color: red; */
    height: 300px;
    width: 80%;
    position: absolute; /*Segun contenedorInSide*/
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombreZapatilla{
    font-family: "Bebas Neue", Arial;
    font-weight: 400;
    font-style: normal;
    text-shadow: 20px 20px 40px rgb(0, 0, 0);
    font-size: 400px;
    letter-spacing: 20px;
}

/* Imagen de la zapatilla.  */

/* La zapatilla la position es absolute segun la caja contenedorInSide */
.zapatilla{
    width: 25%;
    height: auto;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.cajaColores{
    /* background-color: red; */

    width: 400px;
    height: 70px;
    position: absolute; /*Segun contenedorInSide*/
    left: 50%;
    top: 95%;
    transform: translate(-50%,-95%);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.circulosColores{
    /* border: 1px solid black; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.color1{
    background-color: red;
}

.color2{
    background-color: blue;
}

.color3{
    background-color: green;
}










/* Tratamiento de la flecha */

section.contenedorNovedades > i.volverNovedades{
    
    display: inline-block ;
    width: auto ;
    height: auto ;
    font-size: 50px ;
    color: rgba(0, 0, 0, 0.7) ;
    z-index: 999 ;
    pointer-events: auto ;
    opacity: 1 ;
    visibility: visible ;
    position: absolute ;
    left: 30px;
    top: 10px;
    
}

/* Para el ensanchamiento del slider al 100 */

.widthAl100{
    width: 100% !important;
}





/*
Truco de como lo vamos a hacer. 
Las imagenes las voy a tratar como un backjground. para el efecto de que cuadno se coloque el mouse pase ensima salte otra iagen desde abajos si se puede con el fondo un toque mas negro o con el color predominante de la imagen.  con el boton de ver mas. Osea que el boton tambien aparezca cuando pase por arriba. 
Obviamente, cuando ponga en ver mas, va a ocupar toda la pantalla, Por ende tengo que crear una funcion que me regrese todo a la normalidad. Osea para volver para atras. 
*/

/* .contenedorNovedades img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    transition: .5 ease;
    max-width: 500px;
}



.contenedorNovedades img:hover{
    cursor:crosshair;
    width: 100%;
} */






























@media only screen and (max-width:425px){
    header{
        display: flex;
        justify-content: start;
        
    }
    
    .barraNavegacion{
        margin-top: 10px;
        display: flex;
        width: 60px; 
        height: 100px; /*cambiar a 400 con js*/
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom:10px;
        transition: height .5s ease;
    }
    
    .logo{
        margin-top: 10px;
    }
    
    .logoImagen{
        height: 40px;
        width: auto;
        
    }
    
    
    .busqueda{
        display: none;    /*Mejorar esto para que aparezca un imput*/
    }
    .input{
        display: none;
    }
    
    .lupita{
        margin-top: 5px;
        font-size: 30px;
    }
    
    .menuPadre{
        width: 100%;
        /* background-color: rgb(158, 107, 107); */
        display: flex;  /*Cambiar a flex con js*/
        flex-direction: column;
        justify-content: center;
        /* backdrop-filter: blur(20px) */
    }
    
    .menuPadre .menuContenedor .menuItem .etnia{
        display: none;
    }
    
    .menuContenedor{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menuItem{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav .menuPadre .menuContenedor .menuItem a i.icono{
        font-size: 30px;
        display: flex;
    }
    .loginAndShop{
        /* background-color: red; */
    
        height: 100%;
        width: 150px;
        margin-right: 2% ;
        display: none; /*cambiar a flex con js*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .usuario , .carrito{
        /* background-color: white; */
        font-size: 30px;
        margin: 5px;
    }

    nav i.xJS{
        display: none;
        
        
    }


    /* PARTE DEL MAIN */

    /* Slider */

    .slider{
        height: 550px;
        width: 100%;
    }

    .contenedorSlider{
        margin-top:-80px;
    }


    /* Contenedor de la imagen */
    .imagenGrande{
        /* border: 1px solid blue; */
    
        width: 100%;
        height: 400px;
        position: absolute;
        display: flex;
        justify-content:center;
        align-items: center;
        
    }


    /* Imagen de la zapatilla de fondo  */
    .imagenGrande a img.zapatillasGrandes{
        height: 150px;
    }

    /* Cuadro de la foto chica arriba */

    .cuadroArribaChico{
        /* border: 1px solid red; */
        width: 90px;
        height: 80px;
        top:130px;
        left: 270px;
        border-radius: 20px;
        
    }

    .cuadroArribaChico a img.zapatillasArribaChica{
        height: 40px;
    } 

    .cuadroArribaChico a img.correccion{
        height: 50px;
    }

    .cuadroArribaChico a img.pequeñoNegro{
        height: 25px;
    }

    /* Cuadro del nombre de la zapatilla */

    .cuadroAbajoChico{
        border: 1px solid rgb(83, 83, 82);
        width: 150px;
        height: 70px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%); 
        border-radius: 20px;
    }

    /* Textos */

    /* H1 */
    .textoGrande{
        /* border: 1px solid blueviolet; */

        width: 200px;
        height: 150px;
        top: 290px;
        left: 20px
    }

    .h1Zapatillas{
        font-size: 25px;
    }

    /* P */

    .textoChico{
        display: none;
    }

    /* Boton de comprar de la zapatilla */

    .botonComprar{
        /* border: 1px solid green; */
    
        height: 70px;
        width: 150px;
        top: 310px;
        left: 250px ;
    }


    /* Rectangulo de los creditos  */

    .rectanguloInfo{
        /* border: 1px solid rgb(255, 0, 0); */
    
        height: 150px;
        width: 100%;
        top: 100%;
        border-radius: 20px;
        /* transform: translateX(-100%); */
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .creditos{
        /* border: 1px solid white; */
    
        width: 100%;
        height: 100%;
        margin-top: 0;
    
    }


    /* H1 Nombre del artista/Creador */

    .textoRectangulo{
        /* border: 1px solid rgb(0, 0, 0); */
        border-left: 1px solid black;
        border-right: 1px solid black;
        height: 90% ;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .textoRectanguloH1{
        margin-top:0 ;
    }

    /* Ocupacion */



    /* Foto de la zapatilla sin retoque */

    .imagenRectangulo{
        /* border: 1px solid green; */
    
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .fotoOriginal{
        height: 80px ;
        width: auto;
        object-fit: cover;
        margin: 0 5px;
    }
}



@media only screen and (min-width:426px) and (max-width:768px){
    header{
        display: flex;
        justify-content: start;
        
    }
    
    .barraNavegacion{
        margin-top: 10px;
        display: flex;
        width: 60px;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom: 10px;
        transition: height .5s ease;
    }
    
    .logo{
        margin-top: 10px;
    }
    
    .logoImagen{
        height: 40px;
        width: auto;
        
    }

    .busqueda{
        display: none;
    }
    
    .input{
        display: none;
    }
    
    .lupita{
        margin-top: 5px;
        font-size: 30px;
    }
    
    .menuPadre{
        width: 100%;
        /* background-color: rgb(158, 107, 107); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* backdrop-filter: blur(20px) */
    }

    .menuPadre .menuContenedor .menuItem .etnia{
        display: none;
    }
    
    .menuContenedor{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menuItem{
        margin-top: 10px;
    }
    .etnia{
        display: none;
    }

    .icono{
        font-size: 30px;
        display: flex;
    }
    .loginAndShop{
        /* background-color: red; */
    
        height: 100%;
        width: 150px;
        margin-right: 2% ;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .usuario , .carrito{
        /* background-color: white; */
        font-size: 30px;
        margin: 5px;
    }
    nav i.xJS{
        display: none;
    }

    /* PARTE DEL MAIN */

    /* Slider */

    .slider{
        height: 550px;
        width: 100%;
    }

    .contenedorSlider{
        margin-top:-80px;
    }


    /* Contenedor de la imagen */
    .imagenGrande{
        /* border: 1px solid blue; */
    
        width: 100%;
        height: 400px;
        position: absolute;
        display: flex;
        justify-content:center;
        align-items: center;
        
    }


    /* Imagen de la zapatilla de fondo  */
    .imagenGrande a img.zapatillasGrandes{
        height: 250px;
    }

    /* Cuadro de la foto chica arriba */

    .cuadroArribaChico{
        /* border: 1px solid red; */
        width: 90px;
        height: 80px;
        top:100px;
        left: 130px;
        border-radius: 20px;
        
    }

    .cuadroArribaChico a img.zapatillasArribaChica{
        transform: scale(120%);
    }

    .cuadroArribaChico a img.pequeñoNegro{
        height: 40px;
    }

    /* Cuadro del nombre de la zapatilla */

    .cuadroAbajoChico{
        border: 1px solid rgb(83, 83, 82);
        width: 150px;
        height: 70px;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%); 
        border-radius: 20px;
    }

    /* Textos */

    /* H1 */
    .textoGrande{
        /* border: 1px solid blueviolet; */

        width: 200px;
        height: 150px;
        top: 260px;
        left: 20px
    }

    .h1Zapatillas{
        font-size: 25px;
    }

    /* P */

    .textoChico{
        display: none;
    }

    /* Boton de comprar de la zapatilla */

    .botonComprar{
        /* border: 1px solid green; */
    
        height: 70px;
        width: 150px;
        top: 280px;
        left: 600px ;
    }


    /* Rectangulo de los creditos  */

    .rectanguloInfo{
        border: 1px solid rgb(0, 0, 0);
    
        height: 150px;
        width: 100%;
        top: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .creditos{
        /* border: 1px solid white; */
    
        width: 100%;
        height: 100%;
        margin-top: 0;
    }


    /* H1 Nombre del artista/Creador */

    .textoRectangulo{
        /* border: 1px solid rgb(0, 0, 0); */
        border-left: 1px solid black;
        border-right: 1px solid black;
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .textoRectanguloH1{
        margin-top:0 ;
    }

    /* Ocupacion */



    /* Foto de la zapatilla sin retoque */

    .imagenRectangulo{
        /* border: 1px solid green; */
    
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .fotoOriginal{
        height: 80px ;
        width: auto;
        object-fit: cover;
        margin: 0 5px;
    }

}






@media only screen and (min-width:769px) and (max-width:1440px){
    .barraNavegacion .busqueda i{
        display: none;
    }
    .lupita{
        display: none;
    }
    .barraNavegacion i.menuJS{
        display: none;
    }
    nav i.xJS{
        display: none;
    }
    nav i.menuJS{
        display: none;
    }

    /* Parte del slider */

    .slider{
        height: 750px;
        width: 100%;
    }


    .imagenGrande a img.zapatillasGrandes{
        /* border: 1px solid black; */
        
        position: relative;
        top:50px;
        height:400px;
        
    }

    /* Cuadro de la foto chica arriba */

    .cuadroArribaChico{
        /* border: 1px solid red; */

        width: 150px;
        height: 120px;
        top: 150px;
        left: 350px;
        border-radius: 20px;
        
    }

    .cuadroArribaChico a {
        
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .cuadroArribaChico a img.zapatillasArribaChica{
        height: 70px;
        width: auto;
        object-fit: cover;

    }

    .cuadroArribaChico a img.pequeñoNegro{
        height: 40px;
    }
    /* Cuadro del nombre de la zapatilla */

    .cuadroAbajoChico{
        /* border: 1px solid rgb(0, 0, 0); */

        width: 250px;
        height: 90px;
        position: absolute;
        top: 450px;
        left: 70%;
        transform: translateX(-70%); 
        border-radius: 20px;
    }

    .cuadroAbajoChico a{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(7px);
        background-color: rgba(0, 0, 0, 0.048);

    }

    .cuadroAbajoChico a .cuadroChicoTexto{
        /* border: 1px solid black; */
        backdrop-filter: none;
        background-color:none;
        font-size: 25px;
    }

    /* Textos */

    /* H1 */
    .textoGrande{
        /* border: 1px solid blueviolet; */

        width: 400px;
        height: 200px;
        top: 270px;
        left: 80px
    }

    .h1Zapatillas{
        font-size: 50px;
        text-align: center;
    }

    .textoChico{
        /* border: 1px solid black; */

        width: 600px;
        height: 150px;
        top: 100%;
        transform: translateY(-100%);
        left: 80px;
    }

    .textoChico p {
        font-size: 25px;
    }

    /* Boton de comprar la zapatilla */

    .botonComprar{
        /* border: 1px solid green; */

        height: 90px;
        width: 200px;
        top: 20%;
        transform: translateY(-20%);
        left: 750px ;
        
    }

    .botonComprar div {
        width: 100%;
        height: 60px;
        
        
    } 

    .botonComprar div a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
    } 


    .botonComprar div a p{
        margin-right:5px ;
        font-size: 20px ;
    }

    .botonComprar div a i{
        /* border: 1px solid rgb(0, 0, 0); */
        
        border-radius: 50%;
        font-size: 17px ;
        
    }


    /* Rectangulo de los creditos */
    .rectanguloInfo{
        

        height: 90%;
        width: 280px;
        
        left: 99%;
        top: 50%;
        transform: translate(-99%,-50%);
        display: flex;
        flex-direction: column;
        background-color: rgba(58, 58, 58, 0.233);
        
    }


    /* Caja contenedora de la foto del creador */
    .creditos{
        /* border: 1px solid rgb(255, 0, 0); */
    
        width: 100%;
        height: 20%;
        margin-top: 0;
    }

    .textoRectangulo{
        /* border: 1px solid rgb(0, 0, 0); */

        border-bottom: 1px solid black;
        border-top: 1px solid black ;
        height: 20%;
        width: 90%;
        margin: 20px auto;
    }

    .imagenRectangulo{
        /* border: 1px solid green; */
    
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .fotoOriginal{
        height: 150px ;
        width: auto;
        object-fit: cover;
        margin: 0 5px;
    }
}







/* Mejoras para una actualizacion o por si hcaemos algo parecido.  */


/*                                  
                                                Slider 
Mira, en el tema del slider podriamos haberlo mas facil. Porque en vez de ocultar todas podriamos haberlas superpuestas. Osea poner el position absulute y relative para superponerlas. Para que luego cuando se pasen solo tengamos que tocar en la parte de la logica una propiedad de css (style.transform) y listo. Ahora ya quedo asi, pero para la proxima podes tenerlo en cuenta.   
*/