*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    
}

/* Fuentes importadas */


/* .gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
} */


/* .badeen-display-regular {
    font-family: "Badeen Display", system-ui;
    font-weight: 400;
    font-style: normal;
} */


header{
    display: flex;
    justify-content: center;
    
}

.barraNavegacion{
    margin-top: 10px;
    display: flex;
    width: 95%;
    height: 60px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 30px;
    position: fixed;
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    background-color: rgba(255, 255, 255, 0.486);/** Color translúcido*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */

    z-index: 10000;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImagen{
    height: 50px;
    width: auto;
    object-fit: cover;
}

.busqueda{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menuJS{
    font-size: 40px;
}

.lupita{
    display: none;
}

.input{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    padding-left: 13px;
}


.menuPadre{
    width: 650px;
    /* background-color: rgb(158, 107, 107); */
    display: flex;
    justify-content: end;
}

.menuContenedor{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    justify-content: end;
}

.menuItem{
    /* background-color: antiquewhite; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icono{
    display: none;
}





.loginAndShop{
    /* background-color: red; */

    height: 100%;
    width: 150px;
    margin-right: 2% ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.usuario , .carrito{
    /* background-color: white; */
    font-size: 30px;
    margin: 10px;
}

.usuario:hover , .carrito:hover{
    cursor: pointer;
}

.menuJS{
    display: none;
}


.xJS{
    display: none;
    font-size: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
}






/* Parte del main */

.slider{
    background-color: rgba(105, 163, 163, 0.61);
    height: 550px;
    width: 100%;
    padding-top: 100px;
}

.contenedorSlider{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

/* Tratamiento de la imagen*/
.imagenGrande{
    border: 1px solid blue;

    width: 50%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.imagenGrande a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    
}





/* ARREGLAR LA IMAGEN. ESTA MUY GRANDE: HAY QUE RETOCARLA CON PS */
.imagenGrande a img.zapatillasGrandes{
    height: 500px;
    width: auto;
    object-fit: cover;
    
}


/* Cuadro Chico Arriba  */
.cuadroArribaChico{
    border: 1px solid red;

    width: 90px;
    height: 90px;
    position: absolute;
    top:100px;
    left: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px)
}

.cuadroArribaChico a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
}

.cuadroArribaChico a img.zapatillasArribaChica{
    height: 100%;
    width: auto;
    object-fit: contain;
    
}


/* Cuadro abajo */
.cuadroAbajoChico{
    border: 1px solid beige;
    width: 200px;
    height: 70px;
    position: absolute;
    top: 300px;
    left: 700px; 
    border-radius: 30px;
}

.cuadroAbajoChico a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadroChicoTexto{
    backdrop-filter: blur(7px);  
    font-family: "Badeen Display", system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
}




/* Titulo de las zapatillas. H1 */
.textoGrande{
    border: 1px solid blueviolet;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 50px
}

.h1Zapatillas{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500; /*Del 400 al 900*/
    font-style: normal;
    font-size: 50px;
}










/* Texto p para descripcion de las zapatillas.  */


.textoChico{
    border: 1px solid salmon;

    height: 100px;
    width: 500px;
    position: absolute;
    top: 90%;
    transform: translateY(-90%);
    left: 50px;
}


/* Boton de comprar la zapatilla */

.botonComprar{
    border: 1px solid green;

    height: 70px;
    width: 150px;
    position: absolute;
    top: 15%;
    transform: translateY(-15%);
    left: 750px ;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.botonComprar div {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    background: linear-gradient(18deg, rgba(244,131,238,.5) 0%, rgba(111,115,255,.5) 100%);
} 

.botonComprar div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonComprar div a p{
    margin-right:5px ;
}
.botonComprar div a i{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.rectanguloInfo{
    border: 1px solid rgb(0, 0, 0);
    height: 90%;
    width: 250px;
    position: absolute;
    left: 99%;
    top: 50%;
    transform: translate(-99%,-50%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.creditos{
    border: 1px solid white;

    width: 90%;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
}

.textoRectangulo{
    border: 1px solid rebeccapurple;

    height: 150px;
    width: 90%;
    margin: 0 auto;
}

.textoRectanguloH1{
    border: 1px solid red;

    height: 60%;
    width: 100%;
    margin: 0 auto;
    
}

.textorectanguloP{
    border: 1px solid blue;

    height: 40%;
    width: 100%;
}

.imagenRectangulo{
    border: 1px solid green;

    height: 150px;
    width: 90%;
    margin: 0 auto;

}



































@media only screen and (max-width:425px){
    header{
        display: flex;
        justify-content: start;
        
    }
    
    .barraNavegacion{
        margin-top: 10px;
        display: flex;
        width: 60px; 
        height: 100px; /*cambiar a 400 con js*/
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom:10px;
        transition: height .5s ease;
    }
    
    .logo{
        margin-top: 10px;
    }
    
    .logoImagen{
        height: 40px;
        width: auto;
        
    }
    
    
    .busqueda{
        display: none;    /*Mejorar esto para que aparezca un imput*/
    }
    .input{
        display: none;
    }
    
    .lupita{
        margin-top: 5px;
        font-size: 30px;
    }
    
    .menuPadre{
        width: 100%;
        /* background-color: rgb(158, 107, 107); */
        display: flex;  /*Cambiar a flex con js*/
        flex-direction: column;
        justify-content: center;
        /* backdrop-filter: blur(20px) */
    }
    
    .menuPadre .menuContenedor .menuItem .etnia{
        display: none;
    }
    
    .menuContenedor{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menuItem{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav .menuPadre .menuContenedor .menuItem a i.icono{
        font-size: 30px;
        display: flex;
    }
    .loginAndShop{
        /* background-color: red; */
    
        height: 100%;
        width: 150px;
        margin-right: 2% ;
        display: none; /*cambiar a flex con js*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .usuario , .carrito{
        /* background-color: white; */
        font-size: 30px;
        margin: 5px;
    }

    nav i.xJS{
        display: none;
        
        
    }
}



@media only screen and (min-width:426px) and (max-width:768px){
    header{
        display: flex;
        justify-content: start;
        
    }
    
    .barraNavegacion{
        margin-top: 10px;
        display: flex;
        width: 60px;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        padding-bottom: 10px;
        transition: height .5s ease;
    }
    
    .logo{
        margin-top: 10px;
    }
    
    .logoImagen{
        height: 40px;
        width: auto;
        
    }

    .busqueda{
        display: none;
    }
    
    .input{
        display: none;
    }
    
    .lupita{
        margin-top: 5px;
        font-size: 30px;
    }
    
    .menuPadre{
        width: 100%;
        /* background-color: rgb(158, 107, 107); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* backdrop-filter: blur(20px) */
    }

    .menuPadre .menuContenedor .menuItem .etnia{
        display: none;
    }
    
    .menuContenedor{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menuItem{
        margin-top: 10px;
    }
    .etnia{
        display: none;
    }

    .icono{
        font-size: 30px;
        display: flex;
    }
    .loginAndShop{
        /* background-color: red; */
    
        height: 100%;
        width: 150px;
        margin-right: 2% ;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .usuario , .carrito{
        /* background-color: white; */
        font-size: 30px;
        margin: 5px;
    }
    nav i.xJS{
        display: none;
    }

}


@media only screen and (min-width:769px) and (max-width:1444px){
    .barraNavegacion .busqueda i{
        display: none;
    }
    .lupita{
        display: none;
    }
    .barraNavegacion i.menuJS{
        display: none;
    }
    nav i.xJS{
        display: none;
    }
    nav i.menuJS{
        display: none;
    }
}